* .num {

    font-size: 48px;
    padding: 20px 30px;
    margin: 10px 8px;
    color: #29A8FF;
    background-color: #303136;
    border-radius: 16px;
    border-style: none;

}

* .op {

    font-size: 48px;
    padding: 20px 30px;
    margin: 10px 8px;
    color: #29A8FF;
    background-color: #303136;
    border-radius: 16px;
    border-style: none;
    

}